.container{
	margin:auto;
}
.button {
	display: inline-flex;
	padding: auto;
}
.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.table table-striped{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

td{
padding: 5px 10px;
text-align: left;
vertical-align: top;
color: #595960;
background-color: #ffffff;
border-top: dotted 1px #e0dccc;
overflow: hidden;
word-break: break-all;
word-wrap: break-word;
}

@media (max-width: 450px){
h3{
	margin-left:20px;
}

th{
  width:80%;
  display:block;
  margin: 0 auto;

  border:none;
  border-radius: 3px;
}
 td{
  display: list-item;
  width: 90%;
  margin-left:80px;
  border-top: none !important;
}
}/* end */