.container{
	margin:auto;
}
.centered {
	text-align: center;
}
.white-background {
	background-color: white;
}

.height-adjust {
	height: 100%;
}
.button {
	display: inline-flex;
	padding: auto;
}
h1{
text-align: center;
}
.table table-striped {

}

.table table-striped{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-align;center;

}
.container{
	margin-left:80px;
}

td{
padding: 10px 20px;
text-align: left;
vertical-align: top;
color: #595960;
background-color: #ffffff;
border-top: dotted 1px #e0dccc;
overflow: hidden;
word-break: break-all;
word-wrap: break-word;
text-align: center;
display: table-cell;
vertical-align: middle;
}

@media (max-width: 400px){
h3{
	margin-left:20px;
}

th{
  width:80%;
  display:block;
  margin: 0 auto;

  border:none;
  border-radius: 3px;
}
 td{
  display: list-item;
  width: 90%;
  margin-left:80px;
  border-top: none !important;
}
.table table-striped{
  margin-left:70px;
}

}/* end */